body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #84fab0, #8fd3f4); /* Example gradient */
}

.container {
    text-align: center;
}

h1 {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 3em;
}
